<a href="https://colab.research.google.com/github/shal-n/LUGA/blob/master/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. You all are pilots, you want to land a plane safely, so WAP to take current latitude as input and check weather altitude is less then 1000ft, or more then 1000ft and it is less then 5000ft ask pilot bring further down to 1000ft and if it is more than 5000ft then ask pilot to turn around and attempt later.

In [ ]:
altitude = int(input(" Enter altitude"))
if altitude == 1000:
    print("Safe to land")
elif altitude <= 1000:
    print("Bring up to 1000")
elif altitude >= 1000 and altitude <= 5000:
    print("Bring down to 1000")
elif altitude > 5000:
    print("Turn around")

 Enter altitude1000
Safe to land

2. Using for loop please print all prime number from range 1 to 200 using for loop and range    function

In [ ]:
start = int(input("Enter a start number"))
end = int(input("Enter a end number"))
print("prime number from range 1 to 200 is")
for num in range(start,end+1):
    if num > 1:
        for i in range(2,num):
            if(num%i)==0:
                break
        else:
            print(num)

Enter a start number1
Enter a end number200
prime number from range 1 to 200 is
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

3.  Print first Armstrong number in the range 1042000 to 702648265 and exit loop as soon you encounter first Armstrong number

In [ ]:
for i in range(1042000,702648265):
    num = i
    result = 0
    n = len(str(i))
    while(i!=0):
        digit = i%10
        result = result+digit**n
        i = i//10
    if num == result:
        print(num)

1741725
4210818
9800817
9926315
24678050
24678051
88593477
146511208